.boxes{
	border:1px solid red;
	width:550px;
	height:500px;
	margin: 0px auto;
 	display: none; 
}

.boxes:first-child{
	display:block;
}


.boxes-container{
	border:1px solid red;
}

.nav-container{
	margin:0px auto;
	/*border:1px solid red;*/
	text-align: center;
	margin-top:30px;
}

.buttons{
	background-color: #3f7fb5;
    padding: 20px 90px;
    border-radius: 3px;
    border: 0px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}